{{/*
StatefulSet represents a set of pods with consistent identities. Identities are defined as:
  - Network: A single stable DNS and hostname.
  - Storage: As many VolumeClaims as requested.

The StatefulSet guarantees that a given network identity will always map to the same storage identity.

References:
0. [Open API][Spec][V3]: https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec/v3
1. [Open API][StatefulSet]: https://github.com/kubernetes/kubernetes/blob/4163ce5017268b0ae25df327f0a210032ef1cc80/api/openapi-spec/v3/apis__apps__v1_openapi.json#L924
2. [Kubernetes Documentation][Statefulset]: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/
3. [Kubernetes Documentation][Pod]: https://kubernetes.io/docs/concepts/workloads/pods/
4. [Kubernetes SIG][Pod Spec and Status]: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status
5. [Kubernetes Documentation][Pod Probes]: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes
*/}}
{{- if .Values.include -}}
{{/*
Internal variables for normalizing the external user input.
- Use *mergeOverwrite* function to join together maps.
- Use *concat* function to join together array lists.
*/}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "lib.appName" . }}
  namespace: {{ include "lib.namespace" . }}
  labels:
    app.kubernetes.io/component: {{ include "lib.componentName" . }}
    {{- include "lib.labels" . | nindent 4 }}
  annotations:
    {{- include "lib.annotations" . | nindent 4 }}
{{/*
  Required spec fields are:
  - selector
  - template
  - serviceName
*/}}
spec:
  {{/*
     Label Selector For Pods:
       Existing ReplicaSets whose pods are selected
       by this will be the ones affected by this deployment.

     It must match the pod template's labels.
  */}}
  selector:
    matchLabels:
      app.kubernetes.io/component: {{ include "lib.componentName" . }}
      {{- include "lib.matchLabels" . | nindent 6 }}
  {{/*
    Minimum number of seconds for which a newly created pod should be ready without any of its container crashing for it to be considered available.
    Defaults to 0 (pod will be considered available as soon as it is ready)
  */}}
  minReadySeconds: {{ default 0 .Values.minReadySeconds }}
  {{/*
    podManagementPolicy controls how pods are created during initial scale up, when replacing pods on nodes, or when scaling down.
    The default policy is `OrderedReady`, where pods are created in increasing order (pod-0, then pod-1, etc) and the controller will
    wait until each pod is ready before continuing. When scaling down, the pods are removed in the opposite order.
    The alternative policy is `Parallel` which will create pods in parallel to match the desired scale without waiting,
    and on scale down will delete all pods at once.
  */}}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  replicas: {{ .Values.replicaCount }}
  {{/*
    serviceName is the name of the service that governs this StatefulSet.
    This service must exist before the StatefulSet, and is responsible for the network identity of the set.
    Pods get DNS/hostnames that follow the pattern: pod-specific-string.serviceName.default.svc.cluster.local
    where "pod-specific-string" is managed by the StatefulSet controller.
  */}}
  serviceName: {{ include "app.serviceName" . }}
  {{/*
    revisionHistoryLimit is the maximum number of revisions that will be maintained in the StatefulSet's revision history.
    The revision history consists of all revisions not represented by a currently applied StatefulSetSpec version.
    The default value is 10.
  */}}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{/*
    updateStrategy indicates the StatefulSetUpdateStrategy that will be employed to update Pods in the StatefulSet when a revision is made to Template.
  */}}
  updateStrategy: {{- include "app.updateStrategy" .  | nindent 4 }}
  volumeClaimTemplates: {{ include "app.volumeClaims" . | nindent 4 }}
  {{/*
    PodTemplateSpec describes the data a pod should have when created from a template.
    In short this is a wrapper for the PodSpec object. The PodSpec represents the actual
    specification of the desired behaviour of the pod.
  */}}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: {{ include "lib.componentName" . }}
        {{- include "lib.matchLabels" . | nindent 8 }}
        {{- include "app.podLabels" . | nindent 8 }}
        {{- include "app.additionalPodLabels" . | nindent 8 }}
      annotations:
        {{- include "app.envsChecksum" . | nindent 8 }}
        {{- include "app.configChecksum" . | nindent 8 }}
        {{- include "lib.annotations" . | nindent 8 }}
        {{- include "app.podAnnotations" . | nindent 8 }}
        {{- include "app.additionalPodAnnotations" . | nindent 8 }}
    spec:
      {{- if .Values.nodeName }}
      {{/* NOTE: nodeName takes precedence over the nodeSelector.
          - If only nodeName is specified, the Pod will schedule only on that specific node.
          - If only nodeSelector is specified, the Pod will schedule on any node matching the labels.
          - If both are specified, nodeName takes precedence and the Pod will schedule only on the node with that name, ignoring nodeSelector.
      */}}
      nodeName: {{ .Values.nodeName }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- .Values.nodeSelector | toYaml | nindent 8 }}
      {{- end }}
      {{/*
        A group of scheduling rules.
        - nodeAffinity describes node affinity scheduling rules for the pod.
        - podAffinity describes pod affinity scheduling rules (e.g. co-locate this pod in the same node, zone, etc. as some other pod(s)).
        - podAntiAffinity Describes pod anti-affinity scheduling rules (e.g. avoid putting this pod in the same node, zone, etc. as some other pod(s)).
      */}}
      affinity:
        {{- if .Values.customAffinity }}
        {{- .Values.customAffinity | toYaml | nindent 8 }}
        {{- else }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values:
                      - {{ include "lib.componentName" . }}
              topologyKey: kubernetes.io/hostname
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
        {{- end }}
      {{/*
      Prefer to use the ServiceAccount for the specification of the registry credentials.
      */}}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "app.serviceAccount.name" . }}
      {{- else }}
      imagePullSecrets: {{- include "app.serviceAccount.imagePullSecrets" . | nindent 8 }}
      {{- end }}
      {{/*
        PodSecurityContext holds pod-level security attributes and common container settings.
        Some fields are also present in container.securityContext.
        Field values of container.securityContext take precedence over field values of PodSecurityContext.
      */}}
      {{- if .Values.podSecurityContext -}}
      securityContext:
        {{- .Values.podSecurityContext | toYaml | nindent 8 }}
      {{- end -}}
      {{/*
          terminationGracePeriodSeconds - Grace period to allow the write to shutdown before it is killed. Especially for the ingester,
          this must be increased. It must be long enough so writes can be gracefully shutdown flushing/transferring
          all data and to successfully leave the member ring on shutdown.
      */}}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- $initContainers := concat .Values.initContainers .Values.additionalInitContainers | uniq -}}
      {{- if $initContainers }}
      {{/*
          List of initialization containers belonging to the pod.
          Init containers are executed in order prior to containers being started.
          If any init container fails, the pod is considered to have failed and is
          handled according to its restartPolicy. The name for an init container or
          normal container must be unique among all containers.

          Init containers may not have Lifecycle actions, Readiness probes, Liveness probes,
          or Startup probes.

          The resourceRequirements of an init container are taken into account during
          scheduling by finding the highest request/limit for each resource type, and
          then using the max of of that value or the sum of the normal containers.

          Limits are applied to init containers in a similar fashion.

          Init containers cannot currently be added or removed. Cannot be updated.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/"

          API Ref: "#/components/schemas/io.k8s.api.core.v1.Container"

          NOTE: in case of complex objects like $initContainer always specify the type in front of the variable.
            Then you can pipe it to toYaml function.
      */}}
      initContainers:
      {{- tpl ($initContainers | toYaml) $ | nindent 10 }}
      {{- end }}
      containers:
        - name: app
          image: {{ tpl (include "lib.image" (dict "registry" .Values.image.registry "repository" .Values.image.repository "tag" .Values.image.tag )) $ }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: {{ default .Values.entrypoint .Values.customEntrypoint | toYaml | nindent 12 }}
          args: {{ default .Values.args .Values.customArgs | toYaml | nindent 12 }}
          securityContext: {{ .Values.containerSecurityContext | toYaml | nindent 12 }}
          {{- if or .Values.envs .Values.additionalEnvs .Values.externalEnvSecret .Values.internalEnvSecret }}
          envFrom:
            - secretRef:
                name: {{ include "app.secretRef" . }}
            {{- with .Values.additionalExternalEnvSecrets }}
            {{- range . }}
            - secretRef:
                name: {{ . }}
            {{- end }}
            {{- end }}
          {{- end }}
          ports:
          {{- .Values.ports | toYaml | nindent 12 }}
          {{/*
            One-off blocking probe until the container is initialised in full.
            Container will be restarted if the probe fails.
            Cannot be updated.
          */}}
          {{- $appStartupProbe := mergeOverwrite .Values.startupProbe .Values.customStartupProbe  -}}
          {{- if $appStartupProbe }}
          startupProbe:
          {{- $appStartupProbe | toYaml | nindent 12 }}
          {{- end }}
          {{/*
            Periodic probe of container liveness.
            Container will be restarted if the probe fails.
            Cannot be updated.
          */}}
          {{- $appLivenessProbe := mergeOverwrite .Values.livenessProbe .Values.customLivenessProbe -}}
          {{- if $appLivenessProbe  }}
          livenessProbe:
          {{- $appLivenessProbe | toYaml | nindent 12 }}
          {{- end }}
          {{/*
            Periodic probe of container service readiness.
            Container will be removed from service endpoints if the probe fails.
            Cannot be updated.
          */}}
          {{- $appReadinessProbe := mergeOverwrite .Values.readinessProbe .Values.customReadinessProbe -}}
          {{- if $appReadinessProbe }}
          readinessProbe:
          {{- $appReadinessProbe | toYaml | nindent 12 }}
          {{- end }}
          resources:
          {{- .Values.resources | toYaml  | nindent 12 }}
          {{/*
          Pod volumes to mount into the container's filesystem. Cannot be updated.
          VolumeMount: describes a mounting of a Volume within a container.
          Properties:
          - mountPath: Path within the container at which the volume should be mounted.  Must not contain ':'.
          - mountPropagation: determines how mounts are propagated from the host to container and the other way around. When not set, MountPropagationNone is used. This field is beta in 1.10.
          - name: This must match the Name of a Volume.
          - readOnly: Mounted read-only if true, read-write otherwise (false or unspecified). Defaults to false.
          - subPath: Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).
          - subPathExpr: Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root). SubPathExpr and SubPath are mutually exclusive.
          Required:
          - mountPath
          - name
          */}}
          volumeMounts:
            {{- if .Values.additionalConfigs }}
            {{- $configMapName := include "app.additionalConfigsConfigMapName" .  -}}
            {{- include "app.additionalConfigsVolumeMounts" ( dict "configs" .Values.additionalConfigs "configMapName" $configMapName ) | nindent 12 }}
            {{- end }}
            {{- if and .Values.defaultConfig.mountPath .Values.defaultConfig.name }}
            - mountPath: {{ .Values.defaultConfig.mountPath | quote }}
              name: conf
              subPath: {{ .Values.defaultConfig.name | quote }}
            {{- end }}
            {{- $volumeMounts := concat .Values.volumes .Values.additionalVolumes }}
            {{- if $volumeMounts }}
            {{- range $volumeMount := $volumeMounts }}
            - name: {{ $volumeMount.name | quote }}
              {{- $volumeMount.volumeMountProperties | toYaml | nindent 14 }}
            {{- end }}
            {{- end }}
            {{- include "app.volumeMountsFromVolumeClaims" . | nindent 12 }}
        {{- $sidecars := concat .Values.sidecars .Values.additionalSidecars  -}}
        {{- if $sidecars }}
        {{/*
            List of containers belonging to the pod.
            Containers cannot currently be added or removed.
            There must be at least one container in a Pod.
            Cannot be updated.
            API Ref: "#/components/schemas/io.k8s.api.core.v1.Container"
        */}}
        {{- tpl ( $sidecars | toYaml) $ | nindent 8 }}
        {{- end }}
      {{/*
        A Volume represents a named volume in a pod
        that may be accessed by any container in the pod.
        Properties:
        - awsElasticBlockStore: an AWS Disk resource that is attached to a kubelet's host machine and then exposed to the pod.
        - azureDisk: an Azure Data Disk mount on the host and bind mount to the pod.
        - azureFile: an Azure File Service mount on the host and bind mount to the pod.
        - cephfs: a Ceph FS mount on the host that shares a pod's lifetime.
        - cinder: a cinder volume attached and mounted on kubelets host machine.
        - configMap: a configMap that should populate this volume.
        - csi: csi (Container Storage Interface) represents ephemeral storage that is handled by certain external CSI drivers (Beta feature).
        - downwardAPI: the pod that should populate this volume.
        - emptyDir: a temporary directory that shares a pod's lifetime.
        - ephemeral: a volume that is handled by a cluster storage driver. The volume's lifecycle is tied to the pod that defines it - it will be created before the pod starts, and deleted when the pod is removed.\n\nUse this if: a) the volume is only needed while the pod runs, b) features of normal volumes like restoring from snapshot or capacity\n   tracking are needed,\nc) the storage driver is specified through a storage class, and d) the storage driver supports dynamic volume provisioning through\n   a PersistentVolumeClaim (see EphemeralVolumeSource for more\n   information on the connection between this volume type\n   and PersistentVolumeClaim).\n\nUse PersistentVolumeClaim or one of the vendor-specific APIs for volumes that persist for longer than the lifecycle of an individual pod.\n\nUse CSI for light-weight local ephemeral volumes if the CSI driver is meant to be used that way - see the documentation of the driver for more information.\n\nA pod can use both types of ephemeral volumes and persistent volumes at the same time.
        - fc: a Fibre Channel resource that is attached to a kubelet's host machine and then exposed to the pod.
        - flexVolume: a generic volume resource that is provisioned/attached using an exec based plugin.
        - flocker: a Flocker volume attached to a kubelet's host machine. This depends on the Flocker control service being running.
        - gcePersistentDisk: a GCE Disk resource that is attached to a kubelet's host machine and then exposed to the pod.
        - glusterfs: a Glusterfs mount on the host that shares a pod's lifetime.
        - hostPath: a pre-existing file or directory on the host machine that is directly exposed to the container.
        - iscsi: an ISCSI Disk resource that is attached to a kubelet's host machine and then exposed to the pod.
        - name: name of the volume. Must be a DNS_LABEL and unique within the pod.
        - nfs: an NFS mount on the host that shares a pod's lifetime;
      */}}
      volumes:
        {{- if and .Values.defaultConfig.mountPath .Values.defaultConfig.name }}
        - name: conf
          configMap:
            name: {{ include "lib.appName" . }}-conf
        {{- end }}
        {{- $volumes := concat .Values.volumes .Values.additionalVolumes }}
        {{- if $volumes }}
        {{- range $volume := $volumes }}
        - name: {{ $volume.name  | quote }}
          {{- dict $volume.type (default dict $volume.properties) | toYaml | nindent 10 }}
        {{- end }}
        {{- end }}
{{- end -}}
